<!-- HTML -->
<section id="avantages">
    <div class="title">
        <h2>Nos Avantages</h2>
    </div>
    <div class="avantages_container">
        <div class="avantage">
            <div class="avantage_title">
                <i class="material-icons-o">support_agent</i>
                <h4>Besoin d'aide</h4>
            </div>
            <div class="avantage_description">
                <p>
                    Contactez notre service sans plus attendre, nous nous ferons un plaisir de vous assister de la façon la plus réactive et efficace qui soit
                </p>
            </div>
        </div>
        <div class="avantage">
            <div class="avantage_title">
                <i class="material-icons-o">credit_card</i>
                <h4>Paiements sécurisés</h4>
            </div>
            <div class="avantage_description">
                <p>
                    Toutes les transctions sont sécurisées. Vous pouvez choisir vos articles en toute sérénité
                </p>
            </div>
        </div>
        <div class="avantage">
            <div class="avantage_title">
                <i class="material-icons-o">verified_user</i>
                <h4>Protection des données</h4>
            </div>
            <div class="avantage_description">
                <p>
                    Nous vous garantissons que vos données sont protégées et qu'elles ne seront partagées à personne
                </p>
            </div>
        </div>
    </div>
</section>