<!-- HTML -->
<section class="aventageSection">
    <h2 class="mainTitle">Nos Avantages</h2>
    <div class="avantages">
       <div>
        <div class="avantageIcon">
            <span class="material-symbols-outlined">support_agent</span>
            <h3>Besoin D'aide</h3>
        </div>
        <p>Contactez notre service sans plus attendre. <br> Nous nous ferons un plaisir de vous assister de la façon la plus réactive et efficace qui soit.</p>
       </div>

       <div>
        <div class="avantageIcon">
            <span class="material-symbols-outlined">location_on</span>
            <h3>Made in France</h3>
        </div>
        <p>Toutes les transactions sont sécurisées. <br> Vous pouvez choisir vos articles en toute sérénité.</p>
       </div>

       <div>
        <div class="avantageIcon">
            <span class="material-symbols-outlined">credit_card</span>
            <h3>Paiement Sécurisé</h3>
        </div>
        <p>Toutes les transactions sont sécurisées. <br> Vous pouvez choisir vos articles en toute sérénité.</p>
       </div>


       <div>
        <div class="avantageIcon">
            <span class="material-symbols-outlined">verified_user</span>
            <h3>Protection des Données</h3>
        </div>
        <p>Toutes les transactions sont sécurisées. <br> Vous pouvez choisir vos articles en toute sérénité.</p>
       </div>

    </div>
</section>