<section id="faq">
    <div class="title">
        <h2>FAQ</h2>
    </div>
    <div class="faq_container">
        <div class="imgs_container">
            <img class="img_faq" src="/images/img_faq.svg" alt="" aria-hidden=“true”>
        </div>
        <div class="faq_content">
            <div class="faq_item">
                <h2 class="faq_question">Qu'est-ce qu'Opiff ?<img class="arrow_icon" src="images/icon-arrow-down.svg"
                        alt="" aria-hidden=“true”></h2>
                <p class="faq_answer">Oppif est une agence qui vous propose de voyager en destination inconnue, en
                    groupe avec des inconnus qui ont les mêmes centres d'intérêts et traits de personnalité que
                    nous.</p>
            </div>
            <div class="faq_item">
                <h2 class="faq_question">Comment ça fonctionne ?<img class="arrow_icon" src="images/icon-arrow-down.svg"
                        alt="" aria-hidden=“true”></h2>
                <p class="faq_answer">Inscrivez-vous, parlez-nous de vous puis sélectionner vos dates de voyages. On
                    s'occupe du reste !
                </p>
            </div>
            <div class="faq_item">
                <h2 class="faq_question">J'ai des choses à gérer pour mon voyage ?<img class="arrow_icon"
                        src="images/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>
                <p class="faq_answer">Simplement vos valises, que ce soit le logement ou la nourrite nous gérons
                    tout !</p>
            </div>
            <div class="faq_item">
                <h2 class="faq_question">Je peux annuler un voyage ?<img class="arrow_icon"
                        src="images/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>
                <p class="faq_answer">Bien évidemment, un imprévu arrive à tout le monde. Vous pouvez annulez
                    gratuitement un voyage 3 mois avant, après une partie du prix du voyage sera conservée</p>
            </div>
            <div class="faq_item">
                <h2 class="faq_question">Êtes-vous joignable à l'étranger ?<img class="arrow_icon"
                        src="images/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>
                <p class="faq_answer">Nous sommes joignable 24h/24 7j/7 qu'importe le pays.
                </p>
            </div>
        </div>
    </div>
</section>