<section id="landing">
    <div class="landing_container">
        <div class="landing_left">
            <div class="landing_left_title">
                <h1>Opiff</h1>
            </div>
            <div class="landing_left_text">
                <p>
                    Les voyages qui cible les personnes qui ont besoin d’aventure et de surprise dans leur quotidien !
                </p>
            </div>
            <div class="landing_left_button">
                <button>Télécharger l'application</button>
            </div>
        </div>
        <div class="landing_right">
            <img src="/images/phone.jpg" alt="phone">
        </div>
    </div>
</section>