<!-- HTML -->

<section class="landing_section">
    <div class="landing_left">
        <div class="landing_left_title">Opiff</div>
        <div class="landing_left_text">
            Les voyages qui cible les personnes qui ont besoin d’aventure et de surprise dans leur quotidien !
        </div>
        <div class="landing_left_button">
            <button class="landing_left_button_download">Télécharger l'application</button>
        </div>
    </div>
    <div class="landing_right">
        <img src="/images/phone.jpg" alt="phone" class="landing_right_phone">
    </div>
</section>