<section id="partners">
    <div class="title">
        <h2>Nos partenaires</h2>
    </div>
    <div class="partners">
        <div class="partner">
            <img src="images/partners/payonner.png" alt="">
        </div>
        <div class="partner">
            <img src="images/partners/ibis.png" alt="">
        </div>
        <div class="partner">
            <img src="images/partners/bnp.png" alt="">
        </div>
        <div class="partner">
            <img src="images/partners/airfrance.png" alt="">
        </div>
    </div>
</section>