<!-- HTML -->
<section class="partnersSection">
    <h1 class="mainTitle">Nos partenaires</h1>
    <div class="partners">
        <img src="images/partners/payonner.png" alt="">
        <img src="images/partners/ibis.png" alt="">
        <img src="images/partners/bnp.png" alt="">
        <img src="images/partners/airfrance.png" alt="">
    </div>
</section>