<section id="services">
    <div class="title">
        <h2>Nos services</h2>
    </div>

    <div class="cards_container">
        <div class="card">
            <div class="illustration">
                <img src="illustrations/reservation_illustration.svg" alt="">
            </div>
            <div class="title">
                <h3>Voyage à l'aveugle</h3>
            </div>
            <div class="description">
                <p>On vous trouve une destination aléatoire basée sur votre personnalité et vos différents critères</p>
            </div>
        </div>

        <div class="card">
            <div class="illustration">
                <img src="illustrations/gestion_illustration.svg" alt="">
            </div>
            <div class="title">
                <h3>Nous gérons tout !</h3>
            </div>
            <div class="description">
                <p>On gère pour vous les billets d'avion, le logement, la nourriture, l'assurance et on vous propose des
                    tonnes d'activités</p>
            </div>
        </div>
    </div>
    <div class="cards_container">
        <div class="card">
            <div class="illustration">
                <img src="illustrations/meet_illustration.svg" alt="">
            </div>
            <div class="title">
                <h3>Rencontrer des gens</h3>
            </div>
            <div class="description">
                <p>Vous partez en groupe avec d'autres personnes qui ont obtenu le même voyage aléatoire que vous !</p>
            </div>
        </div>

        <div class="card">
            <div class="illustration">
                <img src="illustrations/travel_together_illustration.svg" alt="">
            </div>
            <div class="title">
                <h3>Découvrez le monde en groupe</h3>
            </div>
            <div class="description">
                <p>Des activités sont proposées à votre groupe afin de découvrir le pays et la ville dans lequel on vous
                    a envoyé</p>
            </div>
        </div>
    </div>
</section>