<section id="testimonials">
    <div class="testimonials_container">
        <div class="testimonial">
            <div class="icon">
                <span class="material-icons-o">
                    format_quote
                </span>
            </div>
            <div class="content">Très bon séjour, je n'avais jamais visité le Canada. Les personnes du groupe étaient super sympa et tout s'est déroulé parfaitement !</div>
            <div class="identity">Eloi Caudrillier</div>
            <div class="location">Canada</div>
        </div>
    </div>
</section>