<section id="testimonials">
    <div class="title">
        <h2>Avis</h2>
    </div>
    <div class="testimonials_container">
        <div class="testimonial">
            <div class="testimonial_icon">
                <i class="material-icons-o">
                    format_quote
                </i>
            </div>
            <div class="testimonial_content">
                <p>
                    Très bon séjour, je n'avais jamais visité le Canada. Les personnes du
                    groupe étaient super sympa et tout s'est déroulé parfaitement
                </p>
            </div>
            <div class="testimonial_identity">
                <span>
                    Eloi Caudrillier
                </span>
            </div>
            <div class="testimonial_location">
                <span>
                    Canada
                </span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial_icon">
                <i class="material-icons-o">
                    format_quote
                </i>
            </div>
            <div class="testimonial_content">
                <p>
                    Voyage palpitant, j'étais déjà venu plusieurs fois en Espagne mais grâce à Opiff j'ai pu découvrir des endroits que je n'avais jamais visité !
                </p>
            </div>
            <div class="testimonial_identity">
                <span>
                    John Doe
                </span>
            </div>
            <div class="testimonial_location">
                <span>
                    Voyage : Espagne
                </span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial_icon">
                <i class="material-icons-o">
                    format_quote
                </i>
            </div>
            <div class="testimonial_content">
                <p>
                    Vacances au top avec des inconnus qui sont maintenant mes amis. La Bulgarie est un très beau pays et je suis ravi d'avoir fait confiance à Opiff
                </p>
            </div>
            <div class="testimonial_identity">
                <span>
                    Thomas D.
                </span>
            </div>
            <div class="testimonial_location">
                <span>
                    Bulgarie
                </span>
            </div>
        </div>
    </div>
</section>