<%- include('template/header') %>
<section class="articles"> 
    <div class="gridBlog">
        <div class="articleCard">
            <img src="images/blog/1.jpg" alt="">
            <h3>Que faire à Londres ? Itinéraire et conseils.</h3>
            <a href="#" class="btn">Lire</a>
        </div>

        <div class="articleCard">
            <img src="images/blog/2.jpg" alt="">
            <h3>Voyage à Santorini en été : une semaine de road trip.</h3>
            <a href="#" class="btn">Lire</a>
        </div>

        <div class="articleCard">
            <img src="images/blog/3.jpg" alt="">
            <h3>Que faire à Prague pendant 3 jours ?</h3>
            <a href="#" class="btn">Lire</a>
        </div>

        <div class="articleCard">
            <img src="images/blog/4.jpg" alt="">
            <h3>Itinéraire de 2 semaines au Maroc.</h3>
            <a href="#" class="btn">Lire</a>
        </div>

        <div class="articleCard">
            <img src="images/blog/5.jpg" alt="">
            <h3>Visiter Lisbonne en 3 jours : Nos Incontournables.</h3>
            <a href="#" class="btn">Lire</a>
        </div>

        <div class="articleCard">
            <img src="images/blog/6.jpg" alt="">
            <h3>L’île des Embiez, paradis caché dans le Var.</h3>
            <a href="#" class="btn">Lire</a>
        </div>
    </div>
</section>

<%- include('template/footer') %>