/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap%27');

/* Material Icons */
@font-face {
    font-family: 'Material Icons Regular';
    src: url('../fonts/material-icons/MaterialIcons-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Material Icons Outlined';
    src: url('../fonts/material-icons/MaterialIconsOutlined-Regular.otf') format("opentype");
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format("truetype");
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary_orange: #FF981F;
    --secondary_orange: #FFB257;
    --primary_blue: #191930;
    --secondary_blue: #102348;
    --tertiary_blue: #4C5A76;
    --grey_blue: #8791A4;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--black);
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.material-icons {
    font-family: 'Material Icons Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons-o {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

section {
    margin-bottom: 6rem;
    margin-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-size: 6rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    text-align: center;
}