
:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-orange: #FF981F;
    --clr-blue: #102348;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}


