/* LANDING */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#landing {
    margin-top: 8rem;
}

.landing_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.landing_left_title {
    width: 100%;
    font-weight: bold;
}

.landing_left_text {
    width: 100%;
}

.landing_left_text p {
    font-size: 1.5rem;
}

.landing_left_button {
    width: 100%;
}

.landing_left_button button {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    border: 2px solid var(--black);
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}

.landing_left_button button:hover {
    background-color: var(--white);
    color: var(--black);
}

.landing_right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_right img {
    max-height: 90vh;
}

/* END LANDING */


/* PARTNERS */
.partners {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}

.partner {
    flex: 1;
}

.partner img {
    max-width: 100%;
}

/* END PARTNERS */


/* SERVICES */
#services {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cards_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card {
    flex: 1;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-transform: perspective(800px);
    transform: perspective(800px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .illustration {
    width: 100%;
    text-align: center;
}

.card .illustration img {
    height: 10rem;
}

.card .title {
    width: 100%;
    text-align: center;
}

.card .title h3 {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card .description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* END SERVICES */


/* TESTIMONIALS */

.testimonials_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
}

.testimonial {
    flex: 1;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-transform: perspective(800px);
    transform: perspective(800px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.testimonial_icon {
    width: 100%;
}

.testimonial_icon i {
    font-size: 3rem;
}

.testimonial_content {
    width: 100%;
}

.testimonial_identity span {
    font-weight: bold;
}

.testimonial_location span {
    font-size: 0.8rem;
    font-style: italic;
}

/* END TESTIMONIALS */


/* FAQ */
.faq_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.imgs_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.faq_content {
    flex: 1;
    padding-right: 2rem;
}

.faq_item {
    width: 100%;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--grey_blue);
}

.faq_question {
    cursor: pointer;
    position: relative;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: 400;
}

.faq_question:hover {
    color: var(--primary_orange);
}

.faq_answer {
    display: none;
    padding-bottom: 1rem;
    color: var(--secondary_blue);
    line-height: 1.5rem;
    font-size: 1rem;
}

.arrow_icon {
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 0;
    transform: rotate(0deg);
    transition: transform 300ms ease;
}

.img_faq {
    width: 60%;
}

/* END FAQ */