<script src="/js/header/script.js"></script>
<script src="/js/<%= pageName %>/script.js"></script>
<footer>
    <div class="footerContent"> 
       <p class="logo">Opiff</p>
        <div class="legal">
            <h3>Mentions Légales</h3>
            <p>CGU</p>
            <p>Politique de Confidentialité</p>
            <p>Mentions Légales</p>
        </div>
        <div class="about">
            <h3>Menu</h3>
            <p>Accueil</p>
            <p>Services</p>
            <p>Partenaires</p>
            <p>F.A.Q</p>
        </div>
        <div class="socialMedia">
            <h3> Réseaux Sociaux </h3>
            <div class="socialMediaIcon">
                <i class="fab fa-facebook fa-2x"></i>
                <i class="fab fa-tiktok fa-2x"></i>
                <i class="fab fa-instagram fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="copyright">
        <small> Copyright &copy; Opiff - ECV Hackaton 2022</small>
    </div>
</footer>
</body>

</html>