<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/generic.css">
    <link rel="stylesheet" href="css/header/style.css">
    <link rel="stylesheet" href="css/<%= pageName %>/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav id="navbar">
        <img src="/images/Opiff_logo.svg">
        <div id="onglets">
            <a href="#">Blog </a>
            <a href="#">Partenaires </a>
            <a href="#">Services</a>
            <a href="#">FAQ</a>              
        </div>
    </nav>
