<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/generic.css">
    <link rel="stylesheet" href="css/header/style.css">
    <link rel="stylesheet" href="css/footer/style.css">
    <link rel="stylesheet" href="css/<%= pageName %>/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <img src="/images/Opiff_logo.svg">
        </div>
        <div class="navbar_links">
            <a href="/#services">Services</a>
            <a href="/#partners">Partenaires </a>
            <a href="/#testimonials">Avis</a>
            <a href="/#faq">FAQ</a>
            <a href="/blog">Blog </a>
        </div>
    </nav>